Repository Yamamoto1012/OpenCanpasAgent2025: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typescript-check

biome-check:
  run: npx biome check --write --unsafe {staged_files}
  stage_fixed: true
  fail_text: ❌ Biome check failed. Please fix the issues and try again.

typescript-check:
  run: npx tsc --noEmit --project tsconfig.json
  fail_text: ❌ TypeScript check failed. Please fix type errors and try again.

fix: Typescriptエラーを修正
  frontend/src/features/ActionPromt/ActionPromt.tsx
  frontend/src/features/CategorySection/CategorySection.tsx
  frontend/src/features/VRM/VRMLoading/VRMLoadingContainer.tsx
  frontend/src/features/VRM/hooks/useQuestionHandler.ts
  frontend/src/features/VRM/hooks/useVRM.ts
  frontend/src/features/VoiceChat/VoiceChat.tsx
  frontend/src/store/categoryAtoms.ts
Due: biome-check, typescript-check

fix: テストを通す
  frontend/src/features/SimpleMobileChat/__tests__/SimpleMobileChatView.test.tsx
  frontend/src/features/VoiceChat/__tests__/useVoiceChat.test.ts
  frontend/src/hooks/useTextToSpeech.test.tsx
  frontend/vitest.setup.ts
  lefthook.yml
Due: biome-check, typescript-check

fix: バックエンドのコードをリファクタリング
  backend/compose.yaml
  backend/fast-api/Dockerfile
  backend/fast-api/app.py
  backend/fast-api/config.py
  backend/fast-api/data/sentiment_dictionaries/.gitignore
  backend/fast-api/data/sentiment_dictionaries/README.md
  backend/fast-api/models.py
  backend/fast-api/requirements.txt
  backend/fast-api/routers/__init__.py
  backend/fast-api/routers/dictionary.py
  backend/fast-api/routers/health.py
  backend/fast-api/routers/llm.py
  backend/fast-api/routers/speech.py
  backend/fast-api/services.py
  backend/fast-api/services/__init__.py
  backend/fast-api/services/engine/__init__.py
  backend/fast-api/services/engine/engine_service.py
  backend/fast-api/services/response/__init__.py
  backend/fast-api/services/response/formatters.py
  backend/fast-api/services/speech/__init__.py
  backend/fast-api/services/speech/aivis_client.py
  backend/fast-api/services/speech/speech_service.py
  backend/fast-api/templates.py
  backend/fast-api/tests/test_routes.py
  backend/fast-api/tests/test_services.py
  backend/fast-api/tests/test_services_refactored.py
Due: none

feat: ginza+spacyを用いた感情分析の追加
  backend/fast-api/routers/sentiment.py
  backend/fast-api/services/sentiment/__init__.py
  backend/fast-api/services/sentiment/analyzer.py
  backend/fast-api/services/sentiment/sentiment_service.py
  backend/tests/test_sentiment_service.py
Due: none

feat: 感情分析の追加
  README.md
  frontend/src/App.tsx
  frontend/src/components/debug/SentimentDebugView.tsx
  frontend/src/features/ChatInterface/ChatInterface.tsx
  frontend/src/features/VRM/VRMExpression/ExpressionManager.ts
  frontend/src/features/VRM/VRMExpression/safeSetExpression.ts
  frontend/src/features/VRM/VRMRender/VRMRender.tsx
  frontend/src/features/VRM/VRMWrapper/VRMWrapper.tsx
  frontend/src/features/VRM/constants/vrmExpressions.ts
  frontend/src/features/VRM/hooks/useVRMExpression.ts
  frontend/src/features/VRM/hooks/useVRMSentimentIntegration.ts
  frontend/src/hooks/useSentiment.ts
  frontend/src/services/sentimentService.ts
  frontend/src/store/sentimentDebugStore.ts
  frontend/src/types/sentiment.ts
Due: biome-check, typescript-check

fix: 幅を明示的に指定
  frontend/src/features/ChatInterface/ChatInterfaceView.tsx
Due: biome-check, typescript-check

fix: アプリ名を変更
  README.md
Due: none

docs: Git戦略・ブランチ運用ドキュメントを追加
  GIT_STRATEGY.md
Due: none

docs: developブランチからGit戦略ドキュメントを削除
  GIT_STRATEGY.md
Due: none

feat: i18nの導入
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check

feat: バックエンド側でlanguageをモデルのリクエストに含められるようにする
  backend/fast-api/routers/llm.py
Due: none

feat: 国際化対応用のファイルを用意
  frontend/src/lib/i18n.ts
  frontend/src/store/languageAtoms.ts
Due: biome-check, typescript-check

feat: 言語選択ボタン・ダイアログの実装
  frontend/src/features/ControlButtons/ControlButtons.tsx
  frontend/src/features/ControlButtons/ControlButtonsView.tsx
  frontend/src/features/LanguageSelector/LanguageSelector.tsx
  frontend/src/features/LanguageSelector/LanguageSelectorView.tsx
  frontend/src/features/LanguageSelector/__tests__/LanguageSelector.test.tsx
Due: biome-check, typescript-check

feat: 各種Chatから言語情報を送れるようにする。
  frontend/src/features/ChatInterface/ChatInterface.tsx
  frontend/src/features/InfoPanel/InfoPanelView.tsx
  frontend/src/features/SearchResult/SearchResult.tsx
  frontend/src/features/SimpleMobileChat/SimpleMobileChat.tsx
  frontend/src/features/VoiceChat/VoiceChat.tsx
  frontend/src/main.tsx
  frontend/src/services/llmService.ts
Due: biome-check, typescript-check

fix: テストを削除
  frontend/src/features/LanguageSelector/__tests__/LanguageSelector.test.tsx
Due: biome-check, typescript-check

feat: CLAUDE.mdをクラウドに保存させないようにする
  .gitignore
Due: none

feat: i18nを用いた多言語対応
  frontend/src/App.tsx
  frontend/src/features/ChatInterface/ChatInterface.tsx
  frontend/src/features/SearchResult/SearchResult.tsx
  frontend/src/features/SimpleMobileChat/SimpleMobileChat.tsx
  frontend/src/features/VoiceChat/VoiceChat.tsx
  frontend/src/lib/i18n.ts
  frontend/src/services/llmService.ts
  frontend/tsconfig.app.json
  package.json
  pnpm-lock.yaml
Due: biome-check, typescript-check

feat: 国際化対応用のjsonファイル作成
  frontend/src/locales/en/action.json
  frontend/src/locales/en/category.json
  frontend/src/locales/en/chat.json
  frontend/src/locales/en/common.json
  frontend/src/locales/en/debug.json
  frontend/src/locales/en/infoPanel.json
  frontend/src/locales/en/language.json
  frontend/src/locales/en/navigation.json
  frontend/src/locales/en/search.json
  frontend/src/locales/en/voice.json
  frontend/src/locales/en/vrm.json
  frontend/src/locales/ja/action.json
  frontend/src/locales/ja/category.json
  frontend/src/locales/ja/chat.json
  frontend/src/locales/ja/common.json
  frontend/src/locales/ja/debug.json
  frontend/src/locales/ja/infoPanel.json
  frontend/src/locales/ja/language.json
  frontend/src/locales/ja/navigation.json
  frontend/src/locales/ja/search.json
  frontend/src/locales/ja/voice.json
  frontend/src/locales/ja/vrm.json
Due: biome-check

feat: 国際化対応のサンプル
  frontend/src/features/LanguageSelector/LanguageSelectorView.tsx
Due: biome-check, typescript-check

fix: Viewのテストを削除
  frontend/src/features/SimpleMobileChat/__tests__/SimpleMobileChatView.test.tsx
Due: biome-check, typescript-check

fix: 国際化対応に対応したテストを追加
  frontend/src/features/CategoryNavigator/__tests__/CategoryNavigator.test.tsx
  frontend/src/hooks/useTextToSpeech.test.tsx
Due: biome-check, typescript-check

feat: 感情分析システムの依存関係と設定を追加
  backend/fast-api/config.py
  backend/fast-api/requirements.txt
Due: none

feat: データモデルの設計
  backend/fast-api/models.py
Due: none

feat: 感情分析器の大幅な改善
  backend/fast-api/routers/sentiment.py
  backend/fast-api/services/sentiment/analyzer.py
Due: none

fix: 感情分析サービス層の再設計
  backend/fast-api/services/__init__.py
  backend/fast-api/services/sentiment/__init__.py
  backend/fast-api/services/sentiment/sentiment_service.py
Due: none

feat: 新規感情分析の実装
  backend/fast-api/scripts/convert_to_onnx.py
  backend/fast-api/services.py
  backend/fast-api/services/sentiment/hybrid_analyzer.py
  backend/fast-api/services/sentiment/onnx_analyzer.py
  backend/fast-api/services/sentiment/rule_based_analyzer.py
Due: none

feat: テストスイートの拡張
  backend/fast-api/tests/test_hybrid_sentiment.py
  backend/test_improved_analyzer.py
  backend/tests/__pycache__/test_sentiment_service.cpython-311-pytest-8.3.4.pyc
  backend/tests/test_sentiment_service.py
Due: none

fix: 互換性を削除
  backend/fast-api/config.py
  backend/fast-api/services/sentiment/analyzer.py
  backend/fast-api/services/sentiment/hybrid_analyzer.py
  backend/fast-api/services/sentiment/onnx_analyzer.py
  backend/fast-api/tests/test_hybrid_sentiment.py
Due: none

feat: react-query-dev-toolの追加
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check

feat: フロントエンドを感情分析APIの仕様に対応させる
  frontend/src/features/ChatInterface/ChatInterface.tsx
  frontend/src/hooks/useSentiment.ts
  frontend/src/main.tsx
  frontend/src/services/sentimentService.ts
  frontend/src/types/sentiment.ts
Due: biome-check, typescript-check

feat: difyに関する構成ファイルの追加
  backend/compose.yaml
  backend/fast-api/config.py
  backend/fast-api/routers/llm.py
Due: none

feat: パフォーマンス監視用
  backend/fast-api/middleware/monitoring.py
Due: none

feat: ストリーミングに関するテストの追加
  backend/fast-api/tests/test_streaming.py
Due: none

feat: 文章検出関数の追加
  frontend/src/lib/sentenceDetection.ts
Due: biome-check, typescript-check

feat: ストリーミング中のカーソルコンポーネント
  frontend/src/features/ChatInterface/components/BlinkingCursor.tsx
Due: biome-check, typescript-check

style: フォーマットエラー
  frontend/src/features/ActionPromt/ActionPromt.tsx
Due: biome-check, typescript-check

feat: streaming対応
  frontend/src/features/ChatInterface/ChatInterface.tsx
  frontend/src/features/ChatInterface/components/ChatMessageItem.tsx
  frontend/src/features/VRM/VRMContainer/VRMContainer.tsx
  frontend/src/features/VRM/VRMContainer/VRMContainerView.tsx
  frontend/src/features/VRM/VRMWrapper/VRMWrapper.tsx
  frontend/src/features/VRM/hooks/useLipSync.ts
  frontend/src/hooks/__tests__/useStreamingTTS.test.ts
  frontend/src/hooks/useStreamingTTS.ts
  frontend/src/lib/AudioMutexManager.ts
  frontend/src/services/llmService.ts
  frontend/src/store/chatAtoms.ts
Due: biome-check, typescript-check

feat: 音声合成のストリーミング対応
  frontend/src/features/ChatInterface/ChatInterface.tsx
  frontend/src/hooks/useStreamingTTS.ts
  frontend/src/services/llmService.ts
  frontend/src/store/chatAtoms.ts
Due: biome-check, typescript-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,jsonc} and ^frontend/
  typescript-check: any of: *.{ts,tsx} and ^frontend/
